.calendarDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.react-datepicker__navigation{
  height: 60px;
  width: 60px;
}

.react-datepicker__month-container{
  border: 5px solid black;
}

.react-datepicker__current-month{
  font-size: 3rem;
}

.react-datepicker__day-names{
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
}

.react-datepicker__week {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
  height: 7vh;
}

.react-datepicker__day{
  font-size: 1.5rem;
  text-align: center;
}

button {
  margin: 0 auto;
}